.header {
    height: 80px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #eea849, #f46b45); 
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .header__logo {
    width: 100px;
    object-fit: contain;  
    margin: 0 40px;
    margin-top: 18px;
  }
  